<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.mapper.ReadBookUserMapper">

    <resultMap id="ReadBookUserMapper" type="com.tencent.wxcloudrun.dao.dataobject.ReadBookUserDO">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="wxId" column="wx_id"/>
        <result property="bookName" column="book_name"/>
        <result property="thinking" column="thinking"/>
        <result property="date" column="date"/>
    </resultMap>

    <insert id="insertReadBookUser">
        INSERT INTO t_read_book_user (user_name, wx_id, book_name, thinking, date) VALUES (#{userName}, #{wxId}, #{bookName}, #{thinking}, #{date})
    </insert>
    <select id="getReadBookUser" resultMap="ReadBookUserMapper">
        SELECT * FROM t_read_book_user WHERE book_name = #{bookName}
    </select>
</mapper>